[Desktop Entry]
Name=KOFv5
Comment=KOF Flames Of Courage
Exec=kofv5.dge
Terminal=false
Type=Application
StartupNotify=true
Icon=icono
Categories=games;
